<app-header></app-header>

<div class="example-container mat-elevation-z8">
	<div class="example-header">
		<mat-form-field>
			<input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			<button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</div>

	<mat-table #table [dataSource]="dataSource">

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>Nome Completo do Formando</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="Name" [value]="element.name" [(ngModel)]="element.name">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="formador">
			<mat-header-cell *matHeaderCellDef>Formador</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="Formador" [value]="element.formador" [(ngModel)]="element.formador">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="conteudo">
			<mat-header-cell *matHeaderCellDef>Conteúdo da Formação</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="Conteudo" [value]="element.conteudo" [(ngModel)]="element.conteudo">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="data">
			<mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="Data" [value]="element.data" [(ngModel)]="element.data">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="horas">
			<mat-header-cell *matHeaderCellDef>Horas Lecionadas</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="Horas" [value]="element.horas" [(ngModel)]="element.horas">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>